<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.SetmealDishMapper">
    <insert id="insertBatch" parameterType="list">
        insert into setmeal_dish (setmeal_id, dish_id, name,price,copies)
        values
            <foreach collection="dishList" item="dish" separator=",">
        (#{dish.setmealId},#{dish.dishId},#{dish.name},#{dish.price},#{dish.copies})
    </foreach>
    </insert>
    <update id="update">
        <foreach collection="setmealDishes" item="setmealdish" separator=";">
          update setmeal_dish
         <set>
              dish_id = #{setmealdish.dishId},
            <if test="setmealdish.name != null">
                name = #{setmealdish.name},
            </if>
             <if test="setmealdish.price != null">
                 price = #{setmealdish.price},
             </if>
             <if test="setmealdish.copies != null">
                 copies = #{setmealdish.copies},
             </if>
         </set>
          where setmeal_id = #{setmealId}
        </foreach>
    </update>
    <delete id="deleteBySetmealId">
    delete from setmeal_dish where setmeal_id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            setmeal_id = #{id}
        </foreach>
    </delete>

    <select id="getById" resultType="java.lang.Long">
        select s.setmeal_id from setmeal_dish s where s.dish_id in
         <foreach collection="DishIds" item="dishId" separator="," open="(" close=")">
             #{dishId}
         </foreach>
    </select>
</mapper>
